<!--<input
    style="display: none"
    type="file" (change)="onFileChanged($event)"
    #fileInput>
<button (click)="fileInput.click()">Select File</button>

<img *ngIf="image" class="images" [src]="image.as_file" style="width:500px"/>
<p *ngIf="!image">No image selected.</p>
<button (click)="onUpload()">Upload!</button> -->
<div class="wrapper">
    <div class="main">
        <div class="section">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <button ngbNavLink>Generate</button>
                    <ng-template ngbNavContent>
                        <mat-card style="width: 750px; align-self: center">
                            <mat-card-header>
                                <mat-card-title>{{model.name}}</mat-card-title>



                                <img mat-card-avatar class="images" src="{{'data:image/jpg;base64,' + model.thumbnail}}" style="width: 40px"/>

                            </mat-card-header>
                            <mat-card-content>
                                <div style="align-self: center; width: 100%; min-width: 100px; max-width: 745px">

                                    <form style="align-self: center; width: 100%; min-width: 100px; max-width: 745px">
                                        <mat-form-field style="align-self: center; width: 75%">
                                            <mat-label>Input New Prompt:</mat-label>
                                            <input matInput name="prompt" [(ngModel)]="prompt_text" (keydown.enter)="clickPrompt(prompt_text,num_samples,steps)">
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" style="align-self: center; width: 25%">
                                            <mat-label>Number to generate</mat-label>
                                            <mat-select [(ngModel)]="num_samples" name="number_of_samples">
                                                <mat-option *ngFor="let s of sample_nums" [value]="s">
                                                    {{s}}
                                                </mat-option>

                                            </mat-select>
                                        </mat-form-field>


                                    </form>
                                    <div style="justify-content: center; display: flex">
                                        <mat-slider min="25" max="150" step="5" discrete showTickMarks style="display: inline-block; width: 60%">
                                            <input matSliderThumb [(ngModel)]="steps">
                                        </mat-slider>
                                        <p style="display: inline-block" matTooltip="The number of inference steps used. See about page.">{{steps + ' steps'}}</p>
                                        <div style="flex: 1"></div>
                                        <button mat-flat-button color="accent" (click)="clickPrompt(prompt_text,num_samples,steps)">Generate</button>
                                        <button mat-flat-button color="warn" (click)="clear()">Clear</button>

                                    </div>
                                    <div *ngIf="status_pending" style="justify-content: center; display: flex">
                                        <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
                                    </div>
                                </div>

                                <mat-card *ngIf="new_results && new_results.length > 0">
                                    <mat-card-header>
                                        <mat-card-title>Generated Images:</mat-card-title>
                                        <div class="spacer"></div>
                                        <button *ngIf="any_selected()" mat-raised-button color="primary" (click)="saveImages()">Save Selected Images</button>
                                        <button *ngIf="!any_selected()" mat-raised-button color="primary" disabled>Save Selected Images</button>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <mat-grid-list cols="2" rowHeight="1:1.5" style="width: 100%; height: 100%">
                                            <mat-grid-tile *ngFor="let new_result of new_results; index as i">
                                                <mat-card  style="max-width: 100%">
                                                    <mat-card-header>
                                                        <mat-checkbox (change)="change_generated_image_selection(i)" ></mat-checkbox>
                                                    </mat-card-header>
                                                    <div><img  class="images" src="{{'data:image/jpg;base64,' + new_result.image}}" style="width:100%"/></div>

                                                    <mat-card-actions style="align-self: center"><button mat-icon-button *ngFor="let ratingId of rating_nums;index as j" [id]="'star_'+j" (click)="onRate(j+1, i)" [matTooltip]="ratingId+''" matTooltipPosition="above">
                                                        <mat-icon>{{showIcon(j, i)}}</mat-icon>
                                                    </button></mat-card-actions>
                                                </mat-card>
                                            </mat-grid-tile>

                                        </mat-grid-list>

                                    </mat-card-content>


                                </mat-card>
                            </mat-card-content>

                        </mat-card>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <button ngbNavLink>History</button>
                    <ng-template ngbNavContent>
                        <div *ngIf="saved_images && saved_images.length > 0 && !before_init" style="width: 750px">
                            <mat-grid-list cols="4" rowHeight="1:1.85" style="width: 100%;">
                                <mat-grid-tile *ngFor="let image of saved_images">
                                    <mat-card style="width: 95%; border-color: #673ab7; border-width: 1px; height: 98%">
                                        <mat-card-header>
                                            <mat-card-title>Rating: {{image.rating}}</mat-card-title>
                                            <mat-card-subtitle>Number of Steps: {{image.steps}}</mat-card-subtitle>
                                        </mat-card-header>
                                        <img mat-card-image class="images" src="{{'data:image/jpg;base64,' + image.image}}" style="width: 100%"/>
                                        <!--<mat-card-content>
                                            <p>Prompt: {{image.prompt_text}}</p>
                                        </mat-card-content>-->
                                        <mat-card-actions>
                                            <button style="display: inline-block" mat-mini-fab matTooltip="Download" (click)="downloadImage(model.name, image.image)">
                                                <mat-icon>save_alt</mat-icon>
                                            </button>
                                            <button style="display: inline-block" mat-mini-fab matTooltip="Delete" (click)="deleteImage(model.model_id, image.image_id)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                            <button mat-flat-button style="display: inline-block" color="primary" matTooltip="View Prompt" (click)="showPrompt(image.prompt_text)">Prompt</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>



        </div></div>
</div>

